.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.menu {
  font-size: 30px;
}
#menu1 {
  color: brown;
}

#menu2 {
  color: blueviolet;
}

#menu3 {
  color: darkgoldenrod;
}

body {
  background-color: antiquewhite;
}

.A {
  padding: 40px;
  display: inline-block;
}
